.about-us {
  min-height: 100vh;
  width: 100%;
  padding: 100px 50px 50px 50px;
  background-image: url("C:\Users\DELL\Desktop\Proyecto3-Frontend\src\assets\AboutUs\kimi2.jpg");
  background-size: 100% 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.text{
  font-size: 1.7em;
  font-style: italic;
  font-weight: bold;
  color: #AB095A;
}

.title-h1{
  color: #AB095A;
}

.title-h3{
  color: #AB095A;
} 

#texto{
  color: #AB095A;
  font-size: 2rem;
}

#carla-alcorta{
  width: 250px;
    height: 250px;
    border-radius: 100%;
}

#carla-alcorta:hover{
  border: 2px solid #BBBBBB;
}

#mauro-juarez{
  width: 250px;
    height: 250px;
    border-radius: 100%;
}

#mauro-juarez:hover{
  border: 2px solid #BBBBBB;
}

#samuel-lapetina{
  width: 250px;
    height: 250px;
    border-radius: 100%;
}

#samuel-lapetina:hover{
  border: 2px solid #BBBBBB;
}

#stefan-dios{
  width: 250px;
    height: 250px;
    border-radius: 100%;
}

#stefan-dios:hover{
  border: 2px solid #BBBBBB;
}