.gmil-a{
    width: 14px;
  
}

.paf-gmail{
    font-size: 14px;

    border-radius: 40px;
}
.para-face{
    font-size: 14px;

  
    border-radius: 40px;
}
.class-form {
    background-color: rgba(255, 254, 254, 0.568);
color: rgb(8, 8, 8);
border-radius: 5px;
}
.class-login{
    background-color: rgba(255, 254, 254, 0.336);
    color: rgb(8, 8, 8);
    border-radius: 5px;
}
.button-link {
    display: inline-block; 
    background-color: #1877f2; 
    color: #fff;
    padding: 5px 10px; 
    text-decoration: none; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
  }
  
  .button-link:hover {
    background-color: #1134a6; 
  }
  .button-like-link {
    display: inline-block; 
    background-color: #c60000bb; 
    color: #fff; 
    padding: 4px 8px; 
    text-decoration: none; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
  }
  
  .button-like-link:hover {
    background-color: #af0000; 
  }
 .class-navar{
  background-color: #121b2f;
 }

 .class-hambur{
  background-color: #ffffff; /* Cambia el color de fondo del botón */
}

/* Cambiar el color del botón de hamburguesa cuando se hace clic */
.button-hambur:focus {
  background-color: #ffffff; /* Cambia el color de fondo del botón al hacer clic */
}




/* css formulario reserva */
.color-btn{
  display: inline-block; 
    background-color: #c60000bb; 
    color: #fff; 
    padding: 4px 8px; 
    text-decoration: none; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
}

.color-text {
  color: #fff;
}


.table {
  background-color: #af0000;
}

/* css formulario reserva */

.class-footer {
  background-color: #d9ab86;
  font-family: "Arial", sans-serif;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px; /* Añade espacio entre el contenido y el footer */
}
.class-error{
  font-family: Arial, sans-serif; /* Cambia la fuente a Arial o cualquier otra fuente que desees */
   /* Cambia el tamaño de la fuente a 16px o el tamaño que prefieras */
   font-size: 16px;
   color: #af0000;
}

